body {
  background: black;
  color: white;
  font-family: sans-serif;
}
body a {
  color: white;
}
.front-page-image {
  display: block;
  width: 1400px;
  height: 400px;
  object-fit: cover;
  object-position: 0% 100%;
}
.header-button {
  font-size: 15px;
  width: 190px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}
.header-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px 30px;
}
.header-button-box .header {
  font-size: 70px;
  margin: 0;
}
.pageOne-subheading {
  margin: 0px;
  padding-left: 30px;
}
.pageOne-content {
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}
.highlights-image {
  width: 300px;
  border-radius: 5px;
}
.section-highlights {
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-highlights p {
  max-width: 80%;
}
.section-stories {
  margin-top: 18px;
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story-image {
  width: 300px;
  border-radius: 5px;
}
.highlights-list {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}
.story-list {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}
.section-member {
  margin-top: 18px;
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-member p {
  max-width: 80%;
}
.section-member label {
  font-size: 15px;
}
.member-name {
  width: 400px;
  font-size: 13px;
  padding: 8px;
  border-radius: 8px;
}
.member-email {
  width: 400px;
  font-size: 13px;
  padding: 8px;
  border-radius: 8px;
}
.sign-up-button {
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
}
